- @videos.each do |video|
  %li.bottom__items__item{data: {video: {id: video.id}}}
    = link_to video do
      .bottom__items__item__video
        - if video.image.attached?
          = image_tag video.image, class: 'bottom__items__item__video'
        - else
          = image_tag 'https://www.nanohana-ph.jp/images/shop/noimage.png', class: 'bottom__items__item__video', style: 'opacity: 1;'
      .bottom__items__item__title
        = video.title
      .bottom__items__item__user-name
        = video.user.nickname
      .bottom__items__item__detail
        .bottom__items__item__detail__view-count
          = video.impressionist_count
          回視聴・
        .bottom__items__item__detail__time
          = time_ago_in_words(video.created_at) + '前'
